{% extends 'main.html' %}
{% load static %}
{% block content %}
  <style>
    .ul-categories {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .list-categories {
      margin: 30px;
      flex-basis: 30%;
    }
    img {
      border-radius:1000px;
      width: 350px;
      height: 350px;
    }
  </style>
  <ul class = 'ul-categories'>
    {% for category, _ in categories %}
      <li class='list-categories'>
        <h3>{{category }}<h3> 
        <a href="{{ category }} ">  
          <img src="{% static 'images/' %}{{ category }}.jpg " alt="{{ category }}">
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
