{% extends 'main.html' %} {% load static %}

{% block content %}

{% for product in products %}
    <div style="text-align: center;">        
        <h2>{{ product.title }}</h2>
        <a href="{% url 'product' product_id=product.id %}"><img width="70%" style="filter: drop-shadow(15px 10px 6px #c7c7c7);" src="{{ product.img.url }}" alt="{{ product.title }}"></a>
        <p>{{ product.name  }}</p>
    </div>
{% empty %}
    <p>No products found with {{ category }} category.</p>
{% endfor %}
<style>
      
    @media only screen and (max-width: 768px) {
        img {
            width: 100%;
            height: auto;
        }
    }
</style>
{% endblock %}
