{% extends 'main.html' %}
{% block content %}

<div style="text-align: center;">        
    <form method="POST">
        {% csrf_token %}
        
        <p>Text for buyer!</p>
        <p>More text!</p>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>
        <textarea name="context" rows="4" cols="50" required></textarea><br><br>
        <button class= 'btn' type="submit">Submit</button>
    </form>
    
</div>

<style>
textarea {
    max-width: 80%;
    margin: 0 auto;
    }
.btn {
    background:#cccccc;
    color:#fff;
    border:none;
    position:relative;
    width:250px;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    }
    button:hover{
    background:#fff;
    color:#cccccc;
    }
    button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #cccccc;
    transition:400ms ease all;
    }
    button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
    }
    button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
    }
    @media only screen and (max-width: 768px) {
        img {
            max-width: 100%;
            max-height: auto;
        }
        .btn {
            background: #cccccc;
            color: #fff;
            border: none;
            position: relative;
            font-size: 1.6em;
            padding: 0 2em;
            cursor: pointer;
            transition: 800ms ease all;
            outline: none;
            }
        .btn:active {
            filter: blur(2px);
            transition: 0s ease all;
            -webkit-tap-highlight-color: transparent; 
            -moz-tap-highlight-color: transparent;
            -ms-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
        }
}
</style>

{% endblock %}