{% extends 'main.html' %}
{% block content %}
{% load static %}
  <h1>Support</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Get Help</h2>
        <p>
          If you need help or support, please contact our customer service team by phone, email, or chat. Our friendly and knowledgeable agents are available 24/7 to assist you with any questions or issues you may have.
        </p>
        <p>
          Phone: 1-800-123-4567<br>
          Email: support@yourdomain.com<br>
          Chat: Click on the chat icon on our website to start a conversation with a live agent.
        </p>
      </div>
      <div class="col-md-6">
        <h2>FAQs</h2>
        <p>
          Check out our frequently asked questions (FAQs) to find answers to common questions about our products and services. If you don't find the answer you're looking for, please contact our customer service team for further assistance.
        </p>
        <p>
          <a href="#">View FAQs</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}