{% extends "main.html" %}
{% load static %}
{% block content %}
  <div class="container mb-5 shadow-lg"  style="border-radius:20px;">
    <div class=""
        >
      <div class="row">
        <div class="col-md-5 mb-5 ">
          <img width="70%"
               alt=""
               height="auto"
               class="img-fluid ms-4 mt-4 shadow-lg"
               style="border-radius:20px"
               src="{{ MEDIA_URL }}/media/images/profile_pic.png">
        </div>
        <div class="col-md-7 mb-5">
          <p class="lead  p-5">
            
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
