{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <h1 class="mb-5">About</h1>
    <div class="row ">
      <div class="col-md-6">
        <img class='img-fluid' src="{{ MEDIA_URL }}/media/images/Dry-Crayons.JPG">
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <p class="lead">
          Your autobiography text goes here. This is where you can introduce yourself, talk about your background,
          experiences, and achievements. You can also share your values, goals, and aspirations. Make sure to keep your text concise,
          engaging, and easy to read. Use bullet points, headings, and paragraphs to structure your content and make it more readable.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
