{% extends 'main.html' %}
{% block content %}
{% load static %}
  <h1>About</h1>
  <div>
    <img src="{% static 'images/.jpg' %}" alt="Autobiography Image" style="float:left; margin-right:20px; width:300px; height:300px;">
    <p>
      Your autobiography text goes here. This is where you can introduce yourself, talk about your background, 
      experiences, and achievements. You can also share your values, goals, and aspirations. Make sure to keep your text concise, 
      engaging, and easy to read. Use bullet points, headings, and paragraphs to structure your content and make it more readable.
    </p>

  </div>

{% endblock %}