{% extends 'main.html' %}
{% load static %}
{% block content %}
  <style>
    .ul-categories {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .list-categories {
      margin: 30px;
      flex-basis: 36%;
    }
    img {
      border-radius:1000px;
      width: 370px;
      height: 370px;
    }
  </style>
  <ul id="category-slider" class="ul-categories">
    {% for category, _ in categories %}
      <li class="list-categories">
        <h3>{{ category }}</h3>
        <a href="{{ category }}">
          <img style='filter: drop-shadow(10px 5px 4px #c7c7c7)'
               src="{% static 'images/' %}{{ category }}.JPG"
               alt="{{ category }}">
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
