{% extends "main.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div id="carouselExampleControlsNoTouching"
         class="carousel slide"
         data-bs-touch="false">
      <div class="carousel-inner mb-5" style='border-radius:20px;'>
        <div class="carousel-item active fw fs-5 col-12">
          <a href="https://mikamagazine.com/%D1%80%D0%B0%D0%BD%D0%B3%D0%B5%D0%BB-%D1%81%D0%B8%D0%BC%D0%B5%D0%BE%D0%BD%D0%BE%D0%B2-%D1%81%D1%8A%D1%81-%D1%81%D0%B0%D0%BC%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D1%82%D0%B5%D0%BB%D0%BD%D0%B0-%D0%B8%D0%B7%D0%BB%D0%BE%D0%B6%D0%B1%D0%B0-%D0%B2-%D0%B3%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F-steppenwolf/">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                 width="800"
                 height="550"
                 xmlns="http://www.w3.org/2000/svg"
                 role="img"
                 aria-label="Placeholder: Third slide"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#fff"></rect>
              <text x="50%" y="30%" fill="#333" dy=".3em" text-anchor="middle">
              <tspan x="50%" dy="-2.2em" font-size="18.7" font-weight="bold" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Рангел Симеонов е явление. Не може да се определи с точност – природно явление или явление на духа.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Но ние знаем, че двете са взаимосвързани и взаимопреливащи се.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Заменил още в най-горещата си младост дионисиевската глъч на софийската бохема (на която той беше един от най-колоритните представители)
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              с тишината на Родопите, той сякаш съвсем естествено, без поза, без суетност – последва примера на най-великите:
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Ван Гог с неговия Арл, Сезан – с неговия Екс ан Прованс и може би дори Гоген – търсачът на корените на Човешкото в Таити.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Рангел търси корените на човешкото също.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Търси ги сред чертите – бръчки и кривини, белези и следи от безкрайни тъги – в лицата на разни хора.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Откъде намира такива странни, тъжни и понякога – гротескни лица? Вероятно от две места: от богатата си фантазия и от малкия си, безкраен, родопски свят.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              За да се филтрира до съвършена бистрота едно изкуство, струва ми се, са нужни три неща: самота, размисъл, възторг.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Възторгът от битието – обикновено и просто като лунен лъч – идва от самотата. При Рангел всичко това е налице.
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Изкуството му поразява с прозренията си. Както, между другото, ни поразява и самият живот.“
              </tspan>
              <tspan x="50%" dy="1.2em" font-size="18.7" font-weight="bold" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" text-align="center">
              Калин Терзийски
              </tspan>
              </text>
            </svg>
          </a>
        </div>
        <div class="carousel-item">
          <a href=''>
            <img src="https://images.pexels.com/photos/1748274/pexels-photo-1748274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="d-block w-100 "
                 height="550"
                 alt="...">
          </a>
        </div>
        <div class="carousel-item">
          <a href=''>
            <img src="https://images.pexels.com/photos/1047535/pexels-photo-1047535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="d-block w-100"
                 height="550"
                 alt="...">
          </a>
        </div>
        <div class="carousel-item">
          <a href=''>
            <img src="https://images.pexels.com/photos/190913/pexels-photo-190913.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="d-block w-100"
                 height="550"
                 alt="...">
          </a>
        </div>
      </div>
      <button class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row">
      {% for product in products %}
        <div class="col-md-6 col-lg-4 col-xl-4 mb-5">
          <div class="card shadow-lg h-100" width="100%">
            <a href="{% url 'product' product_id=product.id %}">
              <img class="rounded-top"
                   width="100%"
                   alt=""
                   height="auto"
                   src="{{ MEDIA_URL }}{{ product.img.url }}"
                   alt="{{ product.title }}" />
              <div class="card-body">
              </a>
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.name }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
