{% extends "main.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      {% for product in products %}
        <div class="col-md-6 col-lg-4 col-xl-4 mb-5">
          <div class="card shadow-lg" width="100%">
            <a href="{% url 'product' product_id=product.id %}">
              <img class="rounded-top"
                   width="100%"
                   alt=""
                   height="auto"
                   src="{{ MEDIA_URL }}{{ product.img.url }}"
                   alt="{{ product.title }}" />
              <div class="card-body">
              </a>
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.name }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
