{% extends "main.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card" style="width: 100%; filter: drop-shadow(10px 5px 4px #c7c7c7)">
            <a href="{% url 'product' product_id=product.id %}">
            <img style="width: 100%; height: auto;"
            src="{{ MEDIA_URL }}{{ product.img.url }}"
            alt="{{ product.title }}" />  <div class="card-body"></a>
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.category }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

