{% extends 'main.html' %}
{% load static %}
{% block content %}
    {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="card" style="filter: drop-shadow(10px 5px 4px #c7c7c7)">
                <a href="{% url 'product' product_id=product.id %}">
                <img width="100%"
                src="{{ product.img.url }}"
                alt="{{ product.title }}"></a>
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.category }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No products found with {{ category }} category.</p>
    {% endfor %}
    <style>
        .card{
            margin-left:450px;
            width: 150%;
            w
        }

    @media only screen and (max-width: 768px) {
        .card{
            width:100%;
            margin:0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    </style>
{% endblock %}
