{% extends "main.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <img style="filter: drop-shadow(15px 10px 6px #c7c7c7)"
             class="img-fluid"
             src="{{ product.img.url }}"
             alt="{{ product.title }}" />
      </div>
      <div class="col-md-3 ms-5 ">
        <h2 class="mt-5">{{ product.title }}</h2>
        <p>{{ product.content }}</p>
        <button class="glow-on-hover"
                type="button"
                onclick="window.location.href='{% url 'purchase' %}'">Buy</button>
      </div>
    </div>
  </div>
{% endblock content %}
