{% extends "main.html" %}
{% block content %}
    <div class="container shadow-lg"
         style="background-color:white;
                border-radius:20px">
        <div class="mb-5">
                <h4 class="text-md-center  m-3 p-3">{{ error_message }}</h4>

            <div class="row">
                <div class="col-md-6  p-5">
                    <div style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.6;">
                        <p>Уважаеми посетителю,</p>
                        
                        <p>Благодария ви, че проявявате интерес! За да можем да си предоставим по-добра подкрепа, моля, предоставете малко информация за себе си. Моля, обърнете внимание, че информацията, която споделяте, ще бъде използвана само за целите на отговор на вашето запитване. Можете да споделите от къде сте и всякаква друга информация, която смятате за важна за вашето запитване.</p>
                        
                        <p>Използвайте формата по-долу, за да ни изпратите вашите въпроси или коментари.</p>
                    </div>
                        
                </div>
                <div class="col-md-6 mb-5">
                    <h4 class="h-6 ">Запитване:</h4>

                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="mt-3 me-2">
                            <label for="email">Име:</label>
                            <input class="form-control " type="text" name="name" required>
                        </div>
                        <div class="mt-3 me-2">
                            <label for="email">Имейл:</label>
                            <input class="form-control " type="email" name="email" required>
                        </div>
                      
                        <div class="mt-3 me-2">
                            <label for="email">Запитване:</label>
                            <textarea class="form-control " name="context" rows="4" cols="50" required></textarea>
                        </div>
                        <div class="mt-3 me-2 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary float-right" type="submit">Изпрати</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
