{% extends "main.html" %}
{% block content %}
  {% load static %}
  <div class="container">
    <h1>Поддръжка</h1>
    <div class="row mt-5">
      <div class="col-md-6">
        <h2>Получете помощ</h2>
        <p>
          Ако имате нужда от помощ или поддръжка, моля, свържете се с нашия екип за обслужване на клиенти по телефон, имейл или чат. Нашите отзивчиви и компетентни агенти са на разположение, за да ви помогнат с всякакви въпроси или проблеми, които може да имате.
        </p>
        <p>
          <br>
          Имейл: support@yourdomain.com
          <br>
        </p>
      </div>
      
    </div>
    
{% endblock content %}
