{% extends "main.html" %}
{% block content %}
  {% load static %}
  <div class="container">
    <h1>Подкрепа</h1>
    <div class="row shadow" style="border-radius:20px;">
      <img class="p-0"
           src="{{ MEDIA_URL }}/media/images/rodop2.jpeg"
           style="border-radius:20px"
           height="450"
           width="auto"
           alt="">
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <h2>Получете помощ</h2>
        <p>
          Ако имате нужда от помощ или се нуждаете от допълнителна информация, моля, свържете се с нас чрез имейла посочен по-долу. Ние с удоволствие ще ви отговорим на вашите въпроси и ще ви предоставим необходимата помощ.
        </p>
        <p>Имейл: support@yourdomain.com</p>
        <p>
          Моля, опишете въпроса или проблема, с който се сблъсквате, както и всяка допълнителна информация, която може да бъде от полза. Ще направим всичко възможно да ви предложим бързо и професионално решение.
        </p>
        <p>Благодарим ви за проявения интерес и се надяваме да имаме възможността да ви помогнем.</p>
      </div>
    </div>
  </div>
{% endblock content %}
